.select2-container .select2-selection--single {
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.select2-container--default .select2-dropdown .select2-search__field:focus, .select2-container--default .select2-search--inline .select2-search__field:focus {
    border: none;
}

.table-data__actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.brand-image {
    display: none;
}

.brand-link {
    text-align: center;
}

.table-data__actions a {
    margin-right: 10px;
}

.card-footer__custom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    padding-bottom: 20px;
}

.content-wrapper {
    background-color: white;
}

.tag-success {
    color: #99FF99;
}

.tag-entered {
    color: #FFCC33;
}

.tag-abandoned {
    color: #FF3366;
}

.tr-custom td:last-child i {
    padding-right: 8px;
}

.bold {
    font-weight: bold;
}
a:hover{
    text-decoration: none;
}
